.navbar.header-navbar.navbar-horizontal {
	position: unset !important;
}
.horizontal-menu.page-scrolled div.header-navbar {
	box-shadow: none !important;
}
.navbar.header-navbar.navbar-horizontal {
	background: none !important;
}
