.navbar.header-navbar.navbar-horizontal {
	position: unset !important;
}
.horizontal-menu.page-scrolled:not(.layout-dark) div.header-navbar {
	box-shadow: none;
}
.navbar.header-navbar.navbar-horizontal {
	background: none;
}
